@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Reset all elements */
    * {
      margin: 0;
      padding: 0;
    }
  
    /* Reset #root padding and margin */
    #root{
      margin: auto;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    
  }